<%= simple_form_for @flat do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :number_of_guests %>
    <%= f.input :price_per_night %>
    <%= f.submit "Validate", class: "btn btn-warning" %>
<% end %>
  <%= link_to 'Back to menu', flats_path %>
</div>
