<u>
  <li><%= @flat.name %></li>
  <li><%= @flat.address %></li>
  <li><%= @flat.description %></li>
  <li><%= "Number of guests : #{@flat.number_of_guests}" %></li>
  <li><%= "Price per night :#{@flat.price_per_night}" %></li>
</u>l

<%= link_to "Edit flat", edit_flat_path %>
<%= link_to "Delete flat", flat_path(@flat), method: :delete %>
<%= link_to "See all flats", flats_path %>
